*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: url("./bg.jpg");
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(5px);
}
i, svg {
    pointer-events: none;
}

.sequencer {
    display: relative;
    min-height: 100vh;
    flex: 1;
}

.play-tempo{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.kick-pad, .snare-pad, .hihat-pad {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem 0.25rem;
    cursor: pointer;
}

.kick-pad {
    background: rgb(141, 170, 255);
}
.snare-pad {
    background: rgb(255, 205, 213);
}
.hihat-pad {
    background: rgb(255, 225, 190);
} 

.kick-pad.active {
    background: rgb(65, 112, 255);

}
.snare-pad.active {
    background: rgb(255, 140, 159);
}
.hihat-pad.active {
    background: rgb(255, 196, 129);
}

.kick-track, .snare-track, .hihat-track {
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-between;
    margin-top: 2rem;
}

.kick,.snare,.hihat {
    display: flex;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
    color: white;
}

.controls button {
    padding: 1rem;
    border: none;
    background: rgb(88, 88, 88);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.mute.active {
    background: rgb(199, 199, 199);
}

.pad{
    transition: all 0.5 ease;
}

.play{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(88,88,88);
    color:white;
    border: none;
    cursor: pointer;
    margin: 1rem;
    border-radius: 1rem;
}

.play:hover {
    background: rgb(255, 126, 126);
}

select{
    padding: 1rem;
    font-size: 1rem;
    width: 15rem;
}

.tempo{
    margin: 1rem;
    width: 40%;
}

.tempo-slider {
    padding: 0.2rem;
    -webkit-appearance: none;
    margin: 0.5rem;
    width: 100%;
    position: relative;
    background: rgb(88,88,88 );
    border-radius: 1rem;
}

.tempo p{
    font-size: 1.5rem;
    margin: 0.5rem;
    text-align: center;
    color: white;
}

@keyframes playTrack{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
